			* {
				padding: 15px;
				margin: 2px;
				background-color: #F9E5C9;
			}
			h1 {
				font-family: "Cinzel", serif;
				font-size: 70px;
				color: #BF4F28;
				text-shadow: 9px 9px 10px rgba(178,70,32,0.5);
				cursor:default;
			}
			ul {
				display:flex;
				flex-wrap: nowrap;
				list-style-type: none;
			}
			li {
				width:20%;
				padding:15px;
				border-radius: 8px;
            	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}
			li:hover {
				transform: scale(1.15,1.15);
				cursor:pointer;
			}
			h2 {
				font-weight: bold;
			}
			h3 {
				font-family: "Limelight", sans-serif;
			}
			p {
				font-family:'Courier New', Courier, monospace;
			}
			footer {
				display:flex;
				justify-content: center;
				align-items: center;
				margin-top: 3%;
			}
			a {
				text-decoration: none;
				font-size:20px;
				font-family: "Cinzel", serif;
				color: black;
				font-weight: bold;
				transition: color 1s;
			}
			a:hover {
				color: #BF4F28;
			}